
/*
	HTML_DEFAULTS

	LIST_CONTAINER
	LÅN_CONTAINER
	ROW
	THUMBNAIL


*/

html {
	font-size: 62.5%;
}

.md-18 {
	position: relative;
	top: 3px;
	font-size: 1.8rem;
	color: hsl(120, 20%, 50%);
}


/* LIST_CONTAINER */
/*.emlanlist-container > div > div > div {*/
/*	border: solid 1px black;
	align-self: center;
	text-align: center;*/
/*}*/

/* LÅN_CONTAINER */
.emlan-container {
	padding: 1rem;
	background-color: hsl(0, 0%, 96%);
	box-shadow: 0 0 6px hsl(0, 0%, 50%);
	text-align: center;
	margin-bottom: 3rem;
}

/* ROW */
.emlan-row {
	display: flex;
	justify-content: space-between;
	/*align-content: center;*/
	/*margin-bottom: 2rem;*/
	/*padding-bottom: 2rem;*/
	border-bottom: dashed 1px hsla(0, 0%, 30%, .5);
}
.emlan-row:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.emlan-toprow {
	padding-bottom: 2rem;
}
.emlan-middlerow {
	padding: 2rem 0;
	background-color: hsla(0, 0%, 90%, .3);
}
.emlan-bottomrow {
	padding-top: 2rem;
}

.emlan-row > div {
	/*border: solid 1px black;*/
	align-self: center;
	padding: 0 1rem;
	/*text-align: center;*/
}

/* THUMBNAIL */
.emlan-thumbnail-image {
	height: 5rem;
}

.emlan-belop:before,
.emlan-nedbetaling:before,
.emlan-alder:before,
.emlan-effrente:before {
	display: block;
	font-weight: bold;
	/*text-align: center;*/
}


/* BELØP */
.emlan-belop:before {
	content: 'Lånebeløp';
}

/* NEDBETALING */
.emlan-nedbetaling:before {
	content: 'Nedbetaling';
}

/* ALDERGRENSE */
.emlan-alder:before {
	content: 'Aldersgrense';
}

/* EFFEKTIV_RENTE */
.emlan-effrente:before {
	content: 'Effektiv Rente';
}

/* LENKE */
.emlan-lenke {
	padding: 1rem 2rem;
	border-radius: 5px;
	font-size: 2.4rem;
	text-decoration: none;
	color: white;
	/*text-shadow: 1px 1px 1px hsl(120, 20%, 30%);*/
	white-space: nowrap;
}

.emlan-lenke-fatilbud {
	background-image: linear-gradient(hsl(120, 60%, 60%) 10%, hsl(120, 60%, 50%) 90%);
	text-shadow: 1px 1px 1px hsl(120, 20%, 30%);
}

.emlan-lenke-lesmer {
	background-image: linear-gradient(hsl(0, 0%, 70%) 10%, hsl(0, 0%, 60%) 90%);
	padding: 0.3rem 1rem;
	font-size: 1.6rem;
}

/* FÅ_TILBUD */
.emlan-fatilbud {
	width: 20rem;
}

/* LES_MER */
.emlan-lesmer {
	width: 20rem;
}



